<%- include("partials/header"); -%>
<div class="row middle" style="margin-top: 1%;">
<h1>ABOUT ME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus repudiandae quaerat voluptate vero error? Sequi repellendus placeat laborum totam! Reprehenderit accusantium eveniet molestias illum quis velit, aspernatur dignissimos nemo enim?
</p>
</div>
<%- include("partials/footer"); -%>
