
<%- include("partials/header"); -%>
<div class="row middle" style="margin-top: 1%;margin-left: 37%;">
<h1>CONTACTS</h1>
<p>Taehyung,28</p>
<p>Email: teahyung30@gmail.com</p>
</div>
<%- include("partials/footer"); -%>
