<%- include("partials/header"); -%>
<div class="row middle">
    <h1>MISSION EXPLORE Travel Blog</h1>
    <p>Jobs fill your pockets, adventures fill your soul.</p>
  </div>
  <div class="row">
    <div class="container-fluid btn-mid">
      <button type="button" class="btn btn-outline-light btn-lg "> <a href="/compose">Compose</a> </button>
  </div>
  </div>
<%- include("partials/footer"); -%>
