<%- include("partials/header"); -%>
<div class="container-fluid" style="margin-top: -51%;">
<h2 style="font-weight: 600;"> <%= title %> </h2>
<p style="color:white"> <%= content %> </p>
</div>
<%- include("partials/footer"); -%> 